# This configuration file defines the constraints for the architecture of the
# application.
#
# The default configuration file has no constraints.
#
# See https://import-linter.readthedocs.io/en/stable/contract_types.html
# for contract types and examples.
#
[importlinter]
root_package = {{cookiecutter.root_package}}

# # Sample: enforce independence of apps within a Django project.
# [importlinter:contract:django_independence]
# name = My independence contract
# type = independence
# modules =
#     {{cookiecutter.root_package}}.foo
#     {{cookiecutter.root_package}}.bar
#
#
# # Sample: A layer contract inside a typical Django app.
# [importlinter:contract:django_layers]
# name = Layers of a Django application
# type = layers
# layers =
#     urls
#     views
#     models
#
# containers =
#     {{ cookiecutter.root_package}}.foo
#     {{ cookiecutter.root_package}}.bar
